.scoreDiv{
    max-width: 200px;
    width:100px;
    display: block;
}

.leftCounter, .rightCounter, .seperator{
    font-size: 30px;
}

.leftCounter{
    padding-right: 10px;
}

.rightCounter{
    padding-left: 10px;
}
