.divNav{
    display: inline-flex;
    justify-content: space-between;
    position: relative;
}

.pauseButton{
    position: inherit;
    width: 80px;
    left:370px;
}

.pauseButtonHidden{
    visibility: hidden;
}
.restartButton{
    position: inherit;
    width: 80px;
    right:370px;
}

.pauseButton, .restartButton{
    border-radius: 10%;
    background-color: white;
}

.pauseButton:hover , .restartButton:hover{
    background-color: rgb(221, 221, 221);
}

.pauseButton:active , .restartButton:active{
    background-color: rgb(0, 0, 0);
    color:white;
    border-color: white;
}

